<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Codebase">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- ACTION_VIEW for supported document types -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- EPUB -->
                <data android:mimeType="application/epub+zip" />
                <!-- PDF -->
                <data android:mimeType="application/pdf" />
                <!-- FB2 -->
                <data android:mimeType="application/x-fictionbook+xml" />
                <!-- MOBI -->
                <data android:mimeType="application/x-mobipocket-ebook" />
                <!-- DjVu -->
                <data android:mimeType="image/vnd.djvu" />
                <!-- CBZ -->
                <data android:mimeType="application/vnd.comicbook+zip" />
                <data android:mimeType="application/x-cbz" />
                <!-- Text -->
                <data android:mimeType="text/plain" />
                <!-- HTML -->
                <data android:mimeType="text/html" />
                <!-- RTF -->
                <data android:mimeType="application/rtf" />
                <!-- Generic binary fallback -->
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- File extension based intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />

                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.azw" />
                <data android:pathPattern=".*\\.azw3" />
                <data android:pathPattern=".*\\.djvu" />
                <data android:pathPattern=".*\\.djv" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.rtf" />
                <data android:pathPattern=".*\\.htm" />
                <data android:pathPattern=".*\\.html" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
